.left-arrow {
    border: none;
    background: transparent;
    box-shadow: 1px 3px 4px 1px rgb(199, 197, 197);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    height: 10rem;
    background-color: rgb(248, 206, 213);
    z-index: 10;
}

.update {
    right: 4%;
    margin-right: 0.2rem;
}

.margin {
    margin-left: -1rem;
}

.rounded-pill {
    border-radius: 50% !important;
    font-size: 1rem;
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.2s ease, height 0.2s ease;
    z-index: 20;

}

.rounded-pill:hover {
    height: 2.2rem;
    width: 2.2rem;
}

.btn:hover {
    border: none !important;
}

.d-block {
    height: 75vh !important;
}

.album-img {
    display: flex;
    position: relative;
}

.search-control {
    position: absolute;
    right: 0%;
}

.search {
    width: 15rem !important;
    /* position: absolute;
    right: 12%; */
    height: 3rem;

}